<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stevencorreia.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stevencorreia.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StevenCorreia</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$StevenCorreia</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="StevenCorreia_dbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:rcfecm6x64.database.windows.net,1433;Initial Catalog=StevenCorreia_db;User ID=stevencorreia@rcfecm6x64;Password=Jaswand132" Name="Data Source=tcp:rcfecm6x64.database.windows.net,1433;Initial Catalog=StevenCorreia_db;User Id=stevencorreia@rcfecm6x64;Password=Jaswand132" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcApplication2.StevenCorreia_dbEntities, MvcApplication2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:rcfecm6x64.database.windows.net,1433;Initial Catalog=StevenCorreia_db;User ID=stevencorreia@rcfecm6x64;Password=Jaswand132" Name="Data Source=tcp:rcfecm6x64.database.windows.net,1433;Initial Catalog=StevenCorreia_db;User Id=stevencorreia@rcfecm6x64;Password=Jaswand132" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcApplication2.Models.UsersContext, MvcApplication2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WebApplication19379_dbEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:rcfecm6x64.database.windows.net,1433;Initial Catalog=StevenCorreia_db;User ID=stevencorreia@rcfecm6x64;Password=Jaswand132" Name="Data Source=tcp:rcfecm6x64.database.windows.net,1433;Initial Catalog=StevenCorreia_db;User Id=stevencorreia@rcfecm6x64;Password=Jaswand132" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ieg5kowbkl.database.windows.net;Initial Catalog=WebApplication19379_db;Persist Security Info=True;User ID=stevencorreia;Password=Jaswand132;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WebApplication19379_dbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ieg5kowbkl.database.windows.net;initial catalog=WebApplication19379_db;persist security info=True;user id=stevencorreia;password=Jaswand132;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="StevenCorreia_dbEntities1" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:rcfecm6x64.database.windows.net,1433;Initial Catalog=StevenCorreia_db;User ID=stevencorreia@rcfecm6x64;Password=Jaswand132" Name="Data Source=tcp:rcfecm6x64.database.windows.net,1433;Initial Catalog=StevenCorreia_db;User Id=stevencorreia@rcfecm6x64;Password=Jaswand132" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=rcfecm6x64.database.windows.net;Initial Catalog=StevenCorreia_db;Persist Security Info=True;User ID=stevencorreia;Password=Jaswand132;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StevenCorreia_dbEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ImageData.csdl|res://*/ImageData.ssdl|res://*/ImageData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rcfecm6x64.database.windows.net;initial catalog=StevenCorreia_db;persist security info=True;user id=stevencorreia;password=Jaswand132;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rcfecm6x64.database.windows.net,1433;Initial Catalog=StevenCorreia_db;User Id=stevencorreia@rcfecm6x64;Password=Jaswand132</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StevenCorreia_dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:rcfecm6x64.database.windows.net,1433;Initial Catalog=StevenCorreia_db;User Id=stevencorreia@rcfecm6x64;Password=Jaswand132"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StevenCorreia_dbEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/ImageData.csdl|res://*/ImageData.ssdl|res://*/ImageData.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:rcfecm6x64.database.windows.net,1433;initial catalog=StevenCorreia_db;user id=stevencorreia@rcfecm6x64;password=Jaswand132;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebApplication19379_dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:rcfecm6x64.database.windows.net,1433;initial catalog=StevenCorreia_db;user id=stevencorreia@rcfecm6x64;password=Jaswand132;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>